:root {
  --dl-color-white: #fff;
  --dl-color-grey: #eeeeee;
  --dl-color-darkgrey: #bcbcbc;
  --dl-color-black: #212121;
  --dl-color-dark: #191716;
  --dl-color-red: #d32f2f;
  --dl-color-lightred: #ff6659;
  --dl-color-darkred: #9a0007;

  --fz-xl: clamp(3.5rem, 12vw + 1rem, 5rem);
  --fz-600: 2rem;
  --fz-500: 1.5rem;
  --fz-400: 1.25rem;
  --fz-300: 1rem;
}

@media (max-width: 40em) {
  :root {
    --fz-600: 3rem;
    --fz-500: 1.5rem;
    --fz-400: 1.25rem;
    --fz-300: 1.125rem;
  }
}

html {
  font-family: Inter;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--dl-color-grey);
}

/* ---------------- */
/*   Header & nav   */
/* ---------------- */

.container {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header {
  color: var(--dl-color-dark);
  padding: 1em 0;
  position: relative;
}

header::after {
  content: "";
  clear: both;
  display: block;
}

.logo-group {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.logo {
  height: 2.5em;
  float: left;
}

.menu-toggle {
  display: none;
}

.site-nav {
  width: fit-content;
}

.primary-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.primary-navigation li {
  text-align: center;
}

.site-nav a {
  color: var(--dl-color-dark);
  display: block;
  padding: 1em 2em;
  text-decoration: none;
}

@media only screen and (max-width: 55em) {
  .primary-navigation {
    position: absolute;
    top: 100%;
    right: 0%;
    background: var(--dl-color-grey);
    transition: clip-path ease-in-out 700ms;
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    box-shadow: 1px 1px 30px #19171630;
  }
  .primary-navigation[data-state="opened"] {
    animation: clipPathCircleOpen 750ms ease-in-out forwards;
    display: block;
  }
  
  .primary-navigation[data-state="closing"] {
    animation: clipPathCircleClose 750ms ease-in-out forwards;
  }
  .primary-navigation[data-state="closed"] {
    display: none;
  }
  
  @keyframes clipPathCircleOpen {
    0% { clip-path: circle(0% at top right); }
    100% { clip-path: circle(250% at top right); }
  }
  @keyframes clipPathCircleClose {
    0% { clip-path: circle(250% at top right); }
    100% { clip-path: circle(0% at top right); }
  }
  
  .site-nav li {
    border-bottom: 1px solid var(--dl-color-red);
  }
  
  .site-nav li:last-child {
    border-bottom: none;
  }
  
  .site-nav a {
    color: var(--dl-color-dark);
    display: block;
    padding: 2em 4em 2em 1.5em;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .site-nav a:hover,
  .site-nav a:focus {
    background: var(--dl-color-red);
    color: var(--dl-color-grey);
  }
  
  .site-nav--icon {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255, 255, 255, 0.4);
  }
  
  .menu-toggle {
    padding: 1em;
    background: transparent;
    border: 0;
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    cursor: pointer;
    display: block;
  }
  
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    content: "";
    display: block;
    background: #ebebd3;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
  }
  
  .hamburger::before {
    transform: translateY(-6px);
  }
  
  .hamburger::after {
    transform: translateY(3px);
  }
  
  [aria-expanded="true"] .hamburger {
    transform: rotate(45deg);
  }
  
  [aria-expanded="true"] .hamburger::before {
    opacity: 0;
  }
  
  [aria-expanded="true"] .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
  }
  
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

/* ------------------ */
/*   Offers section   */
/* ------------------ */

.contact {
  min-height: 100vh;
  padding: 3em;
}

.hero {
  display: flex;
  flex-direction: row;
  height: 15em;
  align-items: center;
  gap: 2em;
  max-width: 40ch;
}

.contact-container ul span {
  color: var(--dl-color-red);
}

.contact-container ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact-container ul li {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.contact-container ul li a {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

/* ---------- */
/*   footer   */
/* ---------- */

footer {
  padding: 2em 3em;
  justify-content: center;
  border-top: 1px solid var(--dl-color-red);
}

.footer-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3em;
  flex-wrap: wrap;
}

.footer-logo-group {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

.secondary-navigation {
  display: flex;
  flex-direction: column;
  color: var(--dl-color-dark);
}

.sec-nav-title {
  text-transform: uppercase;
  color: var(--dl-color-darkgrey);
  font-weight: 600;
  font-size: 0.85em;
}

.footer-contact ul span {
  color: var(--dl-color-red);
}

.footer-contact ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer-contact ul li {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.footer-contact ul li a {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.copyright {
  font-size: 0.75em;
  text-align: center;
}
