:root {
  --dl-color-white: #fff;
  --dl-color-grey: #eeeeee;
  --dl-color-darkgrey: #bcbcbc;
  --dl-color-black: #212121;
  --dl-color-dark: #191716;
  --dl-color-red: #d32f2f;
  --dl-color-lightred: #ff6659;
  --dl-color-darkred: #9a0007;

  --fz-xl: clamp(3.5rem, 12vw + 1rem, 5rem);
  --fz-600: 2rem;
  --fz-500: 1.5rem;
  --fz-400: 1.25rem;
  --fz-300: 1rem;
}

@media (max-width: 40em) {
  :root {
    --fz-600: 3rem;
    --fz-500: 1.5rem;
    --fz-400: 1.25rem;
    --fz-300: 1.125rem;
  }
}

html {
  font-family: Inter;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--dl-color-grey);
}

/* ---------------- */
/*   Header & nav   */
/* ---------------- */

.container {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header {
  color: var(--dl-color-dark);
  padding: 1em 0;
  position: relative;
}

header::after {
  content: "";
  clear: both;
  display: block;
}

.logo-group {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.logo {
  height: 2.5em;
  float: left;
}

.menu-toggle {
  display: none;
}

.site-nav {
  width: fit-content;
}

.primary-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.primary-navigation li {
  text-align: center;
}

.site-nav a {
  color: var(--dl-color-dark);
  display: block;
  padding: 1em 2em;
  text-decoration: none;
}

@media only screen and (max-width: 55em) {
  .primary-navigation {
    position: absolute;
    top: 100%;
    right: 0%;
    background: var(--dl-color-grey);
    transition: clip-path ease-in-out 700ms;
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    box-shadow: 1px 1px 30px #19171630;
  }
  .primary-navigation[data-state="opened"] {
    animation: clipPathCircleOpen 750ms ease-in-out forwards;
    display: block;
  }
  
  .primary-navigation[data-state="closing"] {
    animation: clipPathCircleClose 750ms ease-in-out forwards;
  }
  .primary-navigation[data-state="closed"] {
    display: none;
  }
  
  @keyframes clipPathCircleOpen {
    0% { clip-path: circle(0% at top right); }
    100% { clip-path: circle(250% at top right); }
  }
  @keyframes clipPathCircleClose {
    0% { clip-path: circle(250% at top right); }
    100% { clip-path: circle(0% at top right); }
  }
  
  .site-nav li {
    border-bottom: 1px solid var(--dl-color-red);
  }
  
  .site-nav li:last-child {
    border-bottom: none;
  }
  
  .site-nav a {
    color: var(--dl-color-dark);
    display: block;
    padding: 2em 4em 2em 1.5em;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .site-nav a:hover,
  .site-nav a:focus {
    background: var(--dl-color-red);
    color: var(--dl-color-grey);
  }
  
  .site-nav--icon {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255, 255, 255, 0.4);
  }
  
  .menu-toggle {
    padding: 1em;
    background: transparent;
    border: 0;
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    cursor: pointer;
    display: block;
  }
  
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    content: "";
    display: block;
    background: #ebebd3;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
  }
  
  .hamburger::before {
    transform: translateY(-6px);
  }
  
  .hamburger::after {
    transform: translateY(3px);
  }
  
  [aria-expanded="true"] .hamburger {
    transform: rotate(45deg);
  }
  
  [aria-expanded="true"] .hamburger::before {
    opacity: 0;
  }
  
  [aria-expanded="true"] .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
  }
  
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

/* ---------------- */
/*       Hero       */
/* ---------------- */

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;

  height: 95vh;
  padding-inline: 3em;
  padding-bottom: 3em;

  background-image: url(assets/wave-haikei3.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.left h1 {
  font-size: 4rem;
  color: var(--dl-color-red);
  margin-bottom: 0.85em;
}

.left a {
  cursor: pointer;
  padding: 1em 2em;
}

.right {
  z-index: -1;
}

.right img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 90%;
}



.cta {
  width: max-content;
  display: inline-block;
  padding: 1em 2em;
  border: 0;
  color: var(--dl-color-red);
  border-radius: 100vmax;
  font-size: 0.95rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
.cta:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: var(--dl-color-red);
  border: 2px solid var(--dl-color-red);
  border-radius: 10rem;
  z-index: -2;
}
.cta:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--dl-color-red);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.cta:hover {
  color: #fff;
}
.cta:hover:before {
  width: 100%;
}

@media only screen and (max-width: 1100px) {
  .hero img {
    display: none;
  }
}

/* ------------------------- */
/*       First Section       */
/* ------------------------- */

.features {
  min-height: 20em;
  background: var(--dl-color-red);
  color: var(--dl-color-white);
  padding: 3em;
}

.feature-list ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.feature-list ul li {
  max-width: 30ch;
}

.feature-icon {
  background-color: var(--dl-color-grey);
  display: flex;
  border-radius: 100%;
  padding: 1em;
  width: 5em;
  height: 5em;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
}

.feature-icon span {
  color: var(--dl-color-red);
}

.feature-list-title {
  font-size: 1.1em;
  margin-block: 1em;
  line-height: 1.4em;
}

.feature-list-text {
  color: var(--dl-color-grey);
  line-height: 1.4em;
  font-size: 0.9rem;
}

/* ------------------ */
/*   Offers section   */
/* ------------------ */

.beratungen {
  min-height: 20em;
  padding: 8em;

  background-image: url(assets/wave-haikei3-rotated.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

.beratungen-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 3em;
}

.beratungen-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  height: 5em;
  width: 25em;

  background-color: var(--dl-color-white);
  border-radius: 3px;
}

.beratungen-image {
  height: inherit;
}


/* ---------- */
/*   footer   */
/* ---------- */

footer {
  padding: 2em 3em;
  justify-content: center;
  border-top: 1px solid var(--dl-color-red);
}

.footer-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3em;
  flex-wrap: wrap;
}

.footer-logo-group {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

.secondary-navigation {
  display: flex;
  flex-direction: column;
  color: var(--dl-color-dark);
}

.sec-nav-title {
  text-transform: uppercase;
  color: var(--dl-color-darkgrey);
  font-weight: 600;
  font-size: 0.85em;
}

.footer-contact ul span {
  color: var(--dl-color-red);
}

.footer-contact ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer-contact ul li {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.footer-contact ul li a {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.copyright {
  font-size: 0.75em;
  text-align: center;
}
