:root {
  --dl-color-white: #fff;
  --dl-color-grey: #eeeeee;
  --dl-color-darkgrey: #bcbcbc;
  --dl-color-black: #212121;
  --dl-color-red: #d32f2f;
  --dl-color-lightred: #ff6659;
  --dl-color-darkred: #9a0007;

  --fw-light: 400;
  --fw-normal: 500;
  --fw-bold: 800;
  --fs-100: 0.75rem;
  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-450: 1.5rem;
  --fs-500: 1.75rem;
  --fs-600: 2rem;
  --fs-650: 2.5rem;
  --fs-700: 3.5rem;
  --fs-800: 6.25rem;
  --fs-900: 9.375rem;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1em;
  font-weight: 900;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
  margin: 0;
  line-height: 1.1em;
}

h5 {
  font-size: 1em;
  margin: 0;
  line-height: 1.1em;
}

img {
  display: block;
}

a:-webkit-any-link {
    color: inherit;
    padding-bottom: .25em;
}


/* --------------- */
/* Utility Classes */
/* --------------- */


.max-width {
  width: 95%;
  max-width: 1800px;
  margin: 0 auto;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.active {
    border-bottom: 1px solid var(--dl-color-red);
}

.section-text {
  color: var(--dl-color-dark);
  font-weight: var(--fw-normal);
  max-width: 35rem;
}

.section-title {
  color: var(--clr-text-dark);
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  margin-top: 3em;
  margin-bottom: 0.5em;
}



.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--dl-color-red);
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--dl-color-red);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

