:root {
  --dl-color-white: #fff;
  --dl-color-grey: #eeeeee;
  --dl-color-darkgrey: #bcbcbc;
  --dl-color-black: #212121;
  --dl-color-red: #d32f2f;
  --dl-color-lightred: #ff6659;
  --dl-color-darkred: #9a0007;

  --fz-xl: clamp(3.5rem, 12vw + 1rem, 5rem);
  --fz-600: 2rem;
  --fz-500: 1.5rem;
  --fz-400: 1.25rem;
  --fz-300: 1rem;
}

@media (max-width: 40em) {
  :root {
    --fz-600: 3rem;
    --fz-500: 1.5rem;
    --fz-400: 1.25rem;
    --fz-300: 1.125rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1em;
  font-weight: 900;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
  margin: 0;
  line-height: 1.1em;
}

h5 {
  font-size: 1em;
  margin: 0;
  line-height: 1.1em;
}

img {
  display: block;
}

a:-webkit-any-link {
    color: inherit;
    padding-bottom: .25em;
}


/* --------------- */
/* Utility Classes */
/* --------------- */


.max-width {
  width: 95%;
  max-width: 1800px;
  margin: 0 auto;
}


.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.text-white {
  color: var(--dl-color-white);
}

.white-space-nowrap {
  white-space: nowrap;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.active {
    border-bottom: 1px solid var(--dl-color-red);
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wave {
    background-image: url(assets/wave-haikei.svg);
}


.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--dl-color-red);
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--dl-color-red);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }