html{
    font-family: Inter;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow: auto;
}


/* ---------------- */
/*   Header & nav   */
/* ---------------- */

.primary-header {
    align-items: center;
    justify-content: space-between;
    background-color: var(--dl-color-red);
}

.mobile-nav-toggle {
    display: none ;
}

.logo-group {
    margin: 2em;
}

.logo {
    height: 2.5em;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
}

@media (max-width: 47em) {
    .primary-navigation {
        --gap: 2em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;

        text-align: right;

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        background: var(--dl-color-black); 

        transform: translateX(100%);
        transition: transform 300ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }  

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        width: 2rem;
        aspect-ratio: 1;
        top: 2.5rem;
        right: 2.5rem;
        z-index: 9999;
        border: 0;
        background: transparent;
        background-image: url("assets/icon-hamburger.svg");
        background-repeat: no-repeat;
    }  

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("assets/icon-close.svg");
    }

    .logo-wp {
        display: none;
    }

}

@media (min-width: 35em) and (max-width: 60em) {
    .logo-wp {
        display: none;
    }
}

@media (min-width: 47em) {
    .primary-navigation {
        --gap: clamp(1.5rem, 20vw, 3rem);
        padding-block: 2rem;
        padding-inline: clamp(3rem, 5vw, 10rem); 
        
    }
}

/* ---------------- */
/*       Hero       */
/* ---------------- */

.hero {
    display: flex;
    background: linear-gradient(var(--dl-color-red), var(--dl-color-darkred));
    height: 40em;
}

.hero-content {
    padding-left: 3em;
    padding-top: 5em;
}

.hero h1 {
    font-size: 4rem;
}

.hero button {
    width: max-content;
    border-radius: 100vmax;
    border: 0;
    padding: 1em 2em;
}

.hero button:hover {
    background-color: var(--dl-color-white);
}

.hero img {
    max-width:100%;
    max-height: 100%;
    display: block;
    align-self: flex-end;
}

@media only screen and (max-width: 1100px){
    .hero img {
        display: none;
    }
}
